*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

/* common */

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(211, 211, 211, 0.363);
}

/* header style */
header{

    margin: 0 auto 4rem auto;
}

.header-container{
    height: 8rem;
    background-color: rgba(255, 255, 255, 0.432);
}

.header-container > h1{
    display: inline-block;
    line-height:  8rem;
    vertical-align: middle;
}                              /*provare senza line height*/

.header-container > img{
    line-height: 8rem;
    vertical-align: middle;
}

/* main style */

main{
    width: 70%;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.432)
}


/* main button */
.button-container{
    margin-bottom:2rem;
    border-bottom: 1px solid rgb(128, 128, 128, 0.3); /* colore background body*/
    padding: 1.5rem 2.5rem ;

}

.button{
    padding: .8rem 1.5rem .8rem 1.5rem;
    border: 2px solid;
    border-radius: .8rem;
    font-weight: bold;
    font-size: 1.2rem;
    display: inline-block;
}

.blue-button{
    border-color: rgb(85, 85, 226);
    background-color: rgb(85, 85, 226);  /*button filled*/
    color: rgba(255, 255, 255, 0.342);
    
}

.white-button{
    border-color: rgba(128, 128, 128, 0.226);
    background-color: rgba(128, 128, 128, 0.007);   /*button empty*/
    color: grey;
    margin-left: 2rem;
}

/* main-list */

.list-container{
    padding:1.5rem 2.5rem; 
}
.main-list li{
    list-style-type: none;
}
.second-list{
    line-height: 3rem;
}

.list-titles{
    font-weight: bold;
    font-size: 1.5rem;
}

 /* headlines */

.headline{
    display: inline-block;
    background-color:rgb(101, 109, 216);
    font-size: .8rem;
    color: white;
    border-radius: .8rem;  /*pixel*/
    line-height: 2rem;
    padding: .1rem 1rem .1rem 1rem;
}

.headline-blue{
    background-color:rgb(9, 18, 143);
}

.headline-pink{
    background-color:pink;
}

.headline-orange{
    background-color:orange;
}

.headline-grey{
    background-color: grey;
}

.headline-green{
    background-color: green;
}

/* checked circles */

.circle{
    color: rgba(128, 128, 128, 0.5);
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 50%;

}
.circle-not-checked{
    border-color: red;
    color: red;
}




